@font-face {
    font-family: Font;
    src: url("/intro-section-with-dropdown-navigation-main/Epilogue/static/Epilogue-ExtraBold.ttf");

   
}

@font-face {
    

    font-family: Font_2;
    src: url("/intro-section-with-dropdown-navigation-main/Epilogue/static/Epilogue-ExtraLight.ttf");
}
@font-face {
    

    font-family: Font_3;
    src: url("/intro-section-with-dropdown-navigation-main/Epilogue/static/Epilogue-Bold.ttf");
}
@font-face {
    

    font-family: Font_4;
    src: url("/intro-section-with-dropdown-navigation-main/Epilogue/static/Epilogue-Medium.ttf");
}



.bold{
    margin-right: 50px;
    margin-left: 50px;
    font-family: Font_3;
    font-size: 180%;
    color: #141414;

}

h3{
    font-size: 80%;
    font-family: Font_2;
    display: inline-block;

}
.login{
    font-size: 80%;
    font-family: Font_2;
    float: right ;
    margin-right: 5%;

}
button{
    
    font-size: 100%;
    font-family: Font_2;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    border-style:solid;
    box-sizing: 200px;
    padding: 10px 15px;
    cursor: not-allowed;
    


}
img{
    width: 27%;
    height: 27%;
    float: right;
    margin-right: 10%;
    margin-left: 10%;
}

h1{
    margin-left: 10%;
    font-family: Font_3;
    font-size: 400%;
}

p{
    font-size: 90%;
    font-family: Font_4;
    color: #696969;
    margin-left: 10%;
    margin-right: 55%;
}

.svg{
    margin-left: 8%;
}
svg{
    margin-top: 7%;
    margin-left: 2%;
    display: inline-block;
    

}
.button{
background-color: #141414;
   border: none;
   color: #fafafa;
   padding: 15px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}